/* Importing Coca Cola font */
@font-face {
    font-family: cocaColaFont;
    src: url(../../assets/fonts/LOKICOLA.TTF);
}

body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.logo{
	text-align: center;
	background-color: black;
}
    
.logo h1 {
    font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
    font-size: 61px;
	color: white;
    margin: 0;
	margin-right: 250px;
    float: center;
	padding-top: 10px;
}
    
.logo h2 {
    font-family: cocaColaFont;
	color: white;
    font-size: 61px;
	margin-top: -64px;
	margin-right: 80px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: center;
}
    
.logo h3 {
    font-size: 48px;
	color: white;
	margin-top: -81px;
	margin-right: -185px;
    padding-top: 0px;
    padding-left: 0px;
    float: center;
}
    
.logo p {
    font-size: 17px; /* You may have to tweak this to get a good fit */
	color: white;
    margin-top: -19px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.logo:hover h1,
.logo:hover h2,
.logo:hover h3,
.logo:hover p{
	color:red;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar.active {
    margin-left: -200px;
}

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 200px;
	max-width: 200px;
	background: black;
	color: #fff;
	transition: all 0.3s;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar ul li{
	margin-left: -35px;
}

#sidebar ul.components{
	/** note to self css for changing colour **/
	border-bottom: 1px solid red;
	/** add social media logo here after **/
}

#sidebar ul li a{
	/** note to self css for changing colour **/
	padding: 10px;
	min-width: 100%;
	font-size: 1.1em;
	font-weight: bold;
	display: block;
	color: white;
	text-decoration: none;
}

#sidebar ul li a:hover{
	/** note to self css for changing colour **/
	color: red;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	/** note to self css for changing colour **/
	color: red;
	background: red;
}

#sidebarCollapse span {
	display: none;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
	/** note to self css for changing colour **/
	color: white;
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: black;
}

#content{
	width: 100%;
	padding: 20px 0px 0px 0px;
	min-height: 100vh;
	transition: all 0.3s;
}

.navButton{
	color: red;
	min-width: 40px;
	min-height: 40px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
	.wrapper{
		background-color: blue;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.wrapper{
		background-color: red !important;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.wrapper{
		background-color: purple !important;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
	.wrapper{
		background-color: orange !important;
	} 
}

