/* Importing Coca Cola font */
@font-face{
    font-family: cocaColaFont;
    src: url(../../assets/fonts/LOKICOLA.TTF);
}

body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;
}

p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

.logo{
	text-align: center;
	background-color: black;
	width: 100%;
	min-width: 400px;
}
    
.logo h1{
    font-family: cocaColaFont; /* You don't need to repeat this for each media query as it is propagated */
    font-size: 61px;
	color: white;
    margin: 0;
	margin-right: 250px;
    float: center;
	padding-top: 10px;
}

.logo h2{
    font-family: cocaColaFont;
	color: white;
    font-size: 61px;
	margin-top: -64px;
	margin-right: 80px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: center;
}
    
.logo h3{
    font-size: 48px;
	color: white;
	margin-top: -81px;
	margin-left: 185px;
}

.logoTextTop{
	position: center;
}
    
.logo p{
    font-size: 17px; /* You may have to tweak this to get a good fit */
	color: white;
    margin-top: -19px; /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}

.logo:hover h1,
.logo:hover h2,
.logo:hover h3,
.logo:hover p{
	color:red;
}

.no-gutters{
	margin-right: 0;
	margin-left: 0;
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.wrapper{
	min-height: 100%;
	display: inline-flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 175px;
	max-width: 175px;
	background: black;
	color: #fff;
	transition: all 0.3s;
	min-height: 100vh;
}

#sidebar.active {
    margin-left: -175px;
	min-height: 100vh;
}

#sidebar ul.components{
	/** note to self css for changing colour **/
	border-bottom: 3px solid red;
	/** add social media logo here after **/
}

.socialMediaContainer{
	padding: 5px 5px 5px 16px;
}

.socialMediaIcon{
	color: white;
	/** Size of icon **/
	font-size: 50px;
}

.socialMediaIcon:hover{
	color: red;
}

ul ul a{
	font-size: .7em !important;
	padding-left: 30px !important;
	background: black;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar ul li{
	margin-left: -35px;
}

#sidebar ul li a{
	/** note to self css for changing colour **/
	padding: 10px;
	font-size: .7em;
	font-weight: bold;
	display: block;
	color: white;
	text-decoration: none;
	min-width: 100%;
}

#sidebar ul li a:hover{
	/** note to self css for changing colour **/
	color: red;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"]{
	/** note to self css for changing colour **/
	color: red;
	background: red;
}

#sidebarCollapse span{
	display: none;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
	/** note to self css for changing colour **/
	color: white;
}

#navBtnBar{
	display: "none";
	width: 100%;
	padding: 10px 0px 0px 0px;
	transition: all 0.3s;
	margin-right: -10px;
}

.navButton{
	position: relative;
	color: red;
	min-width: 35px;
	min-height: 35px;
}

.carousel-inner{
	width: auto;
	max-width: auto;
	padding: 10px 10px 10px 10px;
}

.carousel-item{
	height: 32rem;
	background: #000;
	color: white;
	position: relative;
	text-align: center;
	background-position: center;
	background-size: cover;
}

.carouselImgContainer{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 50px;
}

.caraImg1{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../assets/gallery/homepageCarousel/cocaColaEnergy.jpg");
	opacity: 0.5;
}

.caraImg2{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../assets/gallery/homepageCarousel/dietCoke.jpg");
	opacity: 0.5;
}

.caraImg3{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../assets/gallery/homepageCarousel/fuzeTea.jpg");
	opacity: 0.5;
}

.caraImg4{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../assets/gallery/homepageCarousel/lilt.jpg");
	opacity: 0.5;
}

.caraImg5{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../../assets/gallery/homepageCarousel/roses.jpg");
	opacity: 0.5;
}

.productInfoContainer{
	background-color: inherit;
}

.img-thumbnail {
    padding: 0.25rem;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 100%;
    height: auto;
}

.iframe-container{
	position: relative;
	width: 100%;
	padding-bottom: 65%; 
}

.iframe-container iframe{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.footer {
	background-color: black;
	color: white;
	height: 60px;
}

.footerText{
	color: white;
	font-size: .7em;
}

.footerText:hover{
	color: red;
}

.copyright {
    padding-top: 13px;
    font-size: 80%;
}

.copyright a{
	color: white;
}

.copyright a:hover{
	color: red;
}

.social {
    padding-top: 0px;
}

.social a{
	color: white;
}

.social a:hover{
	color: red;
}

#statement{
	display: none;
}

#references{
	display: none;
}

#model{
	display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){
	.wrapper{
		background-color: blue;
	}

	ul ul a{
		font-size: .9em !important;
	}
	
	#sidebar{
		min-width: 200px;
		max-width: 200px;
		min-height: 100vh;
	}

	#sidebar.active {
		margin-left: -200px;
		min-height: 100vh;
	}

	#sidebar ul li a{
		font-size: .9em;
	}

	#navBtnBar{
		display: "none";
		width: 100%;
		padding: 10px 0px 0px 0px;

		transition: all 0.3s;
		margin-right: -0px;
	}
	
	.socialMediaContainer{
		padding-left: 29px;
	}

	.navButton{
		min-width: 40px;
		min-height: 40px;
	}

	.footerText{
		font-size: .7em;
	}
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.wrapper{
		background-color: red !important;
	}

	#sidebar{
		min-height: 100vh;
	}

	#sidebar.active {
		min-height: 100vh;
	}

	.footerText{
		font-size: .9em;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.wrapper{
		background-color: purple !important;
	}

	#sidebar{
		min-width: 230px;
		max-width: 230px;
		min-height: 100vh;
	}

	#sidebar.active {
		margin-left: -230px;
		min-height: 100vh;
	}

	.socialMediaContainer{
		padding-left: 19px;
	}

	.navButton{
		min-width: 50px;
		min-height: 50px;
	}

	.footerText{
		font-size: 1em;
	}
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){ 
	.wrapper{
		background-color: orange !important;
	}

	#sidebar{
		min-height: 100vh;
	}

	#sidebar.active {
		min-height: 100vh;
	}

	.footerText{
		font-size: 1.1em;
	}
}

